; The path to the setup executable
Setup=DepcharterRelease.exe
; Default destination directory to c:\program files\DepCharter
Path="c:\Program Files (x86)\DepCharter"
; Run after extraction
Setup="c:\Program Files (x86)\DepCharter"
; Overwrite any existing files
Overwrite=1
; The title of the SFX archive
Title=Running
; The text to show when the user clicks on the SFX archive
Text
{
Note: these steps should be executed manually:

- press 'install' to extract to c:\Program Files (x86)\depcharter (path hardcoded in .reg files to add context menus)

- run "Add DepCharter to Context Menu.reg" and confirm the additions should be added to the registry

- install Graphviz (tested with graphviz-2.24.msi)

- now you can right-click any .sln file to generate graphs
}